.header {
  font-size: 19px;
  color: #404040;
  padding: 21px 0 21px 15px;
  text-align: left;
  height: 20px;
  /*.homeIcon::after{
    content: '';
    position: absolute;
    top: 2.5px;
    right: -15px;
    width: 1PX;
    height: 15px;
    background-color: #ceced1;
  }*/
}
.header .homeIcon {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: -1px;
  margin-right: 30px;
  position: relative;
}
